<div id="statistic" class="statistic bg-light">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-3">
                <h2 class="mb-4">统计信息 | Statistic Info</h2>
                <div class="list-group left-menu">
                    <a *ngFor="let item of leftMenu; let i=index" href="javascript:;"
                        class="list-group-item list-group-item-action lead font-weight-normal"
                        [ngClass]="{'active': currentMenuIndex==i}" (click)="toggleLeftMenu(i)">
                        <i class="fas mr-2" [ngClass]="item.icon"></i>
                        {{item.title}} | {{item.en}}
                    </a>
                </div>
            </div>
            <div class="col">
                <!-- ========= Metadata ======== -->
                <div class="container" *ngIf="currentMenuIndex==0">
                    <div class="row py-5">
                        <div class="col all-classes">
                            <div class="card text-center py-4 border-0 shadow">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">班级 | Classes</h2>
                                    <p class="card-text display-3 font-weight-normal">{{metadata.classes.length}}</p>
                                    <a class="btn btn-primary mt-4" [routerLink]="[ '../metadata' ]">
                                        <i class="fas fa-info-circle mr-1"></i>
                                        了解详情
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col all-courses">
                            <div class="card text-center py-4 border-0 shadow">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">课程 | Courses</h2>
                                    <p class="card-text display-3 font-weight-normal">{{metadata.courses.length}}</p>
                                    <a class="btn btn-success mt-4" [routerLink]="[ '../metadata' ]">
                                        <i class="fas fa-info-circle mr-1"></i>
                                        了解详情
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ======== Student Info ============= -->
                <div class="container" *ngIf="currentMenuIndex==1">
                    <div class="row">
                        <div class="col">
                            <div class="mt-3 mb-5 p-4 shadow" *ngFor="let group of students; let i=index">
                                <h4 class="mb-3">
                                    <i class="fas fa-users mr-2"></i>
                                    {{group['class_name']}} <span class="text-info">班</span>
                                    <span class="ml-3">（共注册 {{group['list'].length}} 人）</span>
                                </h4>
                                <table class="table table-hover text-center">
                                    <thead class="bg-primary text-white">
                                        <th></th>
                                        <th>
                                            <i class="fas fa-hashtag mr-1"></i>
                                            学号
                                        </th>
                                        <th>
                                            <i class="fas fa-user mr-1"></i>
                                            姓名
                                        </th>
                                        <th>
                                            <i class="fas fa-male mr-1"></i>
                                            <i class="fas fa-female mr-1"></i>
                                            性别

                                        </th>
                                        <th>
                                            <i class="fas fa-mobile-alt mr-1"></i>
                                            电话
                                        </th>
                                        <th>
                                            <i class="fas fa-envelope mr-1"></i>
                                            邮箱
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of group['list']; let j=index">
                                            <td>{{j+1}}</td>
                                            <td>{{item['id']}}</td>
                                            <td>{{item['username']}}</td>
                                            <td>{{item['gender']}}</td>
                                            <td>{{item['phone']}}</td>
                                            <td>{{item['email']}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Exam Info ========== -->
                <div class="container" *ngIf="currentMenuIndex==2">
                    <div class="row">
                        <div class="col-12 mb-5 p-4 shadow" *ngFor="let exam of exams">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mt-0 mb-4 text-center font-weight-bold text-info">《
                                        {{exam['course_name']}} 》</h3>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td class="font-weight-bold bg-light text-info text-center">考试 ID
                                                </td>
                                                <td>{{exam['id']}}</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold bg-light text-info text-center">试卷总分
                                                </td>
                                                <td>{{exam['total']}} <span class="text-info">分</span></td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold bg-light text-info text-center">创建日期
                                                </td>
                                                <td>{{exam['created_datetime']}}</td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold bg-light text-center text-info">
                                                    参与班级
                                                    <br>
                                                    <small>（已交卷 & 未交卷）</small>
                                                </td>
                                                <td>
                                                    <ul class="list-unstyled m-0 p-0">
                                                        <li *ngFor="let cla of exam['classes']">{{cla['type']}}
                                                            {{cla['major']}} {{cla['regist_year']}} {{cla['num']}} <span
                                                                class="text-info">班</span></li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font-weight-bold bg-light text-info text-center">
                                                    操作
                                                </td>
                                                <td class="text-center">
                                                    <a class="btn btn-info" [routerLink]="[ './../exam/exam-design' ]">
                                                        <i class="fas fa-info-circle mr-1"></i>
                                                        了解详情
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col">
                                    <div [chart]="exam['chart']"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Score Analysis =========== -->
                <div class="container shadow mt-4" *ngIf="currentMenuIndex==3">
                    <div class="row mt-4 pt-5 pb-3 px-4 bg-white">
                        <div class="col-5">
                            <form>
                                <div class="from-group">
                                    <label for="courses-selector">考试科目（课程）</label>
                                    <select name="courses-selector" id="courses-selector" class="form-control"
                                        (change)="handleCourseSelectorChanged()" [(ngModel)]="selectedCourseId">
                                        <option value="" selected disabled>--- 选择考试科目 ---</option>
                                        <option [value]="item['course_id']" *ngFor="let item of studentExams">
                                            {{item['course_name']}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="col-2 text-center text-success">
                            <label>下一步</label>
                            <div class="form-group mt-2">
                                <i class="fas fa-arrow-right lead"></i>
                            </div>
                        </div>
                        <div class="col-5">
                            <form>
                                <div class="from-group">
                                    <label for="courses-selector">班级</label>
                                    <select name="courses-selector" id="courses-selector" class="form-control"
                                        (change)="handleClassSelectorChanged()" [(ngModel)]="selectedClassId"
                                        [disabled]="!selectedCourseId">
                                        <option value="" selected disabled>--- 选择班级 ---</option>
                                        <option [value]="item['class_id']" *ngFor="let item of selectedClassList">
                                            {{item['class_name']}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row bg-white px-4 pb-4">
                        <div class="col">
                            <p>成绩占比：平时成绩 {{percentage}} % / 期末成绩 {{100 - percentage}} %</p>
                            <form>
                                <div class="form-group">
                                    <div class="progress my-3 lead">
                                        <div class="progress-bar  bg-secondary" role="progressbar"
                                            [ngStyle]="{'width': percentage+'%'}" [attr.aria-valuenow]="percentage"
                                            aria-valuemin="0" aria-valuemax="100">
                                            平时成绩：{{percentage}} %
                                        </div>
                                        <div class="progress-bar bg-success" role="progressbar"
                                            [ngStyle]="{'width': (100-percentage)+'%'}"
                                            [attr.aria-valuenow]="100-percentage" aria-valuemin="0" aria-valuemax="100">
                                            期末成绩：{{100 - percentage}} %
                                        </div>
                                    </div>
                                    <input name="percentage" type="range" class="form-control-range"
                                        id="formControlRange" min="0" max="100" [value]="percentage" step="10"
                                        [(ngModel)]="percentage" (change)="handlePercentageChange()">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row px-4" *ngIf="selectedStudents.length!=0">
                        <div class="col">
                            <div class="text-right mb-2">综合评定的计算结果以【四舍五入】处理，最终结果为整数</div>
                            <table class="table table-hover">
                                <thead class="bg-success text-white">
                                    <th></th>
                                    <th>学号</th>
                                    <th>姓名</th>
                                    <th class="text-center">平时成绩</th>
                                    <th class="text-center">期末成绩</th>
                                    <th class="text-center">综合评定</th>
                                </thead>
                                <tbody>
                                    <tr class="font-weight-bold" *ngFor="let student of selectedStudents; let i=index">
                                        <td></td>
                                        <td>{{student['student_id']}}</td>
                                        <td>{{student['student_name']}}</td>
                                        <td>
                                            <input type="number" class="form-control text-center font-weight-bold"
                                                [(ngModel)]="student['regular_grade']"
                                                [value]="student['regular_grade']"
                                                (change)="handleRegularGradeChange(i)"
                                                [disabled]="checkIfSavedTotalMark(selectedStudents)">
                                        </td>
                                        <td class="text-center">{{student['score']}}</td>
                                        <td class="text-center" [ngClass]="{'text-danger':student['total_mark']<60}">
                                            {{student['total_mark']}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button type="button" class="btn btn-success"
                                    (click)="saveStudentExamTotalMark(selectedStudents)"
                                    *ngIf="!checkIfSavedTotalMark(selectedStudents)">
                                    <i class="fas fa-save mr-2"></i>
                                    保存学生成绩
                                </button>
                            </div>
                            <!-- ============ Analysis =============== -->
                            <div class="row align-items-center my-5">
                                <div class="col">
                                    <div class="form-check form-check-inline mr-4 lead font-weight-bold">
                                        <input class="form-check-input" type="radio" name="min-max-tig" id="score-num"
                                            value="score" (change)="handleMinMaxTigChange('score')"
                                            [(ngModel)]="minMaxTig">
                                        <label class="form-check-label" for="score-num"
                                            [ngClass]="{'text-primary': minMaxTig=='score','text-secondary': minMaxTig=='total_mark'}">期末成绩</label>
                                    </div>
                                    <div class="form-check form-check-inline lead font-weight-bold">
                                        <input class="form-check-input" type="radio" name="min-max-tig"
                                            id="total-mark-num" value="total_mark"
                                            (change)="handleMinMaxTigChange('total_mark')" [(ngModel)]="minMaxTig">
                                        <label class="form-check-label" for="total-mark-num"
                                            [ngClass]="{'text-secondary': minMaxTig=='score','text-primary': minMaxTig=='total_mark'}">综合评定</label>
                                    </div>
                                    <div class="mt-4 font-weight-bold">
                                        <span class="text-danger">
                                            最低分 : {{minMaxPass['min']}}
                                        </span>
                                        <span class="text-success ml-3">
                                            最高分 : {{minMaxPass['max']}}
                                        </span>
                                        <span class="text-dark ml-3">
                                            及格率 : {{minMaxPass['pass']}}
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="mt-4">
                                        <p>设定多个分值范围，统计人数</p>
                                        <!--  -->
                                        <div class="row">
                                            <div class="col">
                                                <form [formGroup]="rangeForm" (ngSubmit)="addRange()">
                                                    <div class="form-row">
                                                        <div class="col-2">
                                                            <input form name="low" type="number"
                                                                class="form-control form-control-sm" placeholder="大于等于"
                                                                formControlName="low" required>
                                                        </div>
                                                        <div class="col-1 text-center lead font-weight-bolder">~</div>
                                                        <div class="col-2">
                                                            <input name="high" type="number"
                                                                class="form-control form-control-sm" placeholder="小于等于"
                                                                formControlName="high" required>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="submit" class="btn btn-outline-dark btn-sm"
                                                                [disabled]="!rangeForm.valid">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <ul class="list-group mt-3">
                                                    <li class="list-group-item"
                                                        *ngFor="let range of ranges; let i=index">
                                                        <span>{{range['low']}} 分</span>
                                                        <span class="mx-3">~</span>
                                                        <span>{{range['high']}} 分</span>
                                                        <h3 class="badge badge-dark ml-3 lead"
                                                            style="font-size: 1.1rem;" *ngIf="finishComputRanges">
                                                            {{range['people']}} 人</h3>
                                                        <button class="btn btn-sm btn-outline-danger ml-3"
                                                            (click)="removeRange(i)">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </li>
                                                </ul>
                                                <button class="btn btn-danger mt-3 btn-sm" [disabled]="ranges.length==0"
                                                    (click)="computRange(selectedStudents)">
                                                    统计人数
                                                </button>
                                            </div>
                                            <div class="col">
                                                <div *ngIf="finishComputRanges && ranges.length!=0"
                                                    [chart]="rangeChart"></div>
                                            </div>
                                        </div>
                                        <!--  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>