.statistic{
    td{
        vertical-align: middle;
    }
    .left-menu{
        .list-group-item{
            border-left: solid 5px white !important;
        }
        .active{
            color: black !important;
            background:none !important;
            border: none !important;
            border-left: solid 5px red !important;
        }
    }
    input[type=radio] {
        border: 0px;
        height: 1.1em;
        width: 1.1em;
    }

}