.statistic{
    td{
        vertical-align: middle;
    }
    .left-menu{
        .active{
            color: white !important;
        }
    }
    input[type=radio] {
        border: 0px;
        height: 1.1em;
        width: 1.1em;
    }

}