.slogan {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url('/assets/images/banner.jpg') center;
  background-size: cover;
  background-clip: border-box;
  background-origin: content-box;
  }