<div id="slogan" class="slogan">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md pt-5 text-white display-4">
          <span style="font-weight: 400">
            <span class="text-danger">E</span>asy<span class="text-warning">E</span>xam | 在线考试系统
          </span>
          <h3 class="text-weight-normal mt-5 pr-5 text-justify" style="line-height: 2.4rem">EasyExam
            旨在简化繁琐的考试流程，抛弃落后臃肿的纸质考试模式</h3>
          <h3 class="text-weight-normal mt-4 pr-5 text-justify" style="line-height: 2.4rem">
            通过数字化的形式，更加全面深入的考察学生的学习效果，优化考试体验，提高教师工作效率</h3>
        </div>
        <div class="col-12 col-md-4 pt-5">
          <app-sign></app-sign>
        </div>
      </div>
    </div>
  </div>
</div>