<div id="regist" class="regist bg-dark text-secondary pb-5">
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <a [routerLink]="[ '/' ]" class="text-white">
                    <i class="fas fa-angle-left mr-1"></i>
                    返 回
                </a>
            </div>
        </div>
        <div class="row pb-5 justify-content-between">
            <div class="col-5 py-3">
                <h3 class="bg-primary text-white text-center p-2">教师注册 | Teacher</h3>
                <div class="alert alert-primary text-center" role="alert" *ngIf="isTeacherRegisted">
                    教师信息已注册，请直接登录，开始使用本系统。
                </div>
                <form [formGroup]="teacherForm" (ngSubmit)="onTeacherSubmit()" class="regist-form"
                    *ngIf="!isTeacherRegisted">
                    <div class="form-group">
                        <label>工号</label>
                        <input type="text" class="form-control" placeholder="Teacher ID" formControlName="id"
                            [ngClass]="{'input-error': teacherForm.controls['id'].invalid && (teacherForm.controls['id'].dirty || teacherForm.controls['id'].touched)}">
                        <small
                            *ngIf="teacherForm.controls['id'].invalid && (teacherForm.controls['id'].dirty || teacherForm.controls['id'].touched)"
                            class="form-text text-danger">必须全部是数字</small>
                    </div>

                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" placeholder="Teacher Username"
                            formControlName="username"
                            [ngClass]="{'input-error': teacherForm.controls['username'].invalid && (teacherForm.controls['username'].dirty || teacherForm.controls['username'].touched)}">
                    </div>

                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" placeholder="Teacher Password"
                            formControlName="password"
                            [ngClass]="{'input-error': teacherForm.controls['password'].invalid && (teacherForm.controls['password'].dirty || teacherForm.controls['password'].touched)}">
                    </div>

                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="email" class="form-control" placeholder="Teacher Email" formControlName="email"
                            [ngClass]="{'input-error': teacherForm.controls['email'].invalid && (teacherForm.controls['email'].dirty || teacherForm.controls['email'].touched)}">
                        <small class="form-text text-danger"
                            *ngIf="teacherForm.controls['email'].invalid && (teacherForm.controls['email'].dirty || teacherForm.controls['email'].touched)">邮箱格式不正确</small>
                    </div>

                    <div class="form-group">
                        <label>学院/系部</label>
                        <input type="text" class="form-control" placeholder="Teacher ID" formControlName="department"
                            [ngClass]="{'input-error': teacherForm.controls['department'].invalid && (teacherForm.controls['department'].dirty || teacherForm.controls['department'].touched)}">
                    </div>

                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!teacherForm.valid || isRunTeacherRegisting">
                            <i class="fas fa-check mr-2"></i>
                            注 册
                        </button>
                        <span *ngIf="isRunTeacherRegisting"><i class="fas fa-cog fa-lg fa-spin ml-4 mr-2"></i>正在处理中 ...</span>
                    </div>
                </form>
            </div>
            <div class="col-5 py-3">
                <h3 class="bg-success text-white text-center p-2">学生注册 | Student</h3>
                <form [formGroup]="studentForm" (ngSubmit)="onStudentSubmit()" class="regist-form">
                    <div class="form-group">
                        <label>学号</label>
                        <input type="text" class="form-control" placeholder="Student ID" formControlName="id"
                            [ngClass]="{'input-error': studentForm.controls['id'].invalid && (studentForm.controls['id'].dirty || studentForm.controls['id'].touched)}">
                        <small
                            *ngIf="studentForm.controls['id'].invalid && (studentForm.controls['id'].dirty || studentForm.controls['id'].touched)"
                            class="form-text text-danger">必须全部是数字</small>
                    </div>
                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" placeholder="Teacher Username"
                            formControlName="username"
                            [ngClass]="{'input-error': studentForm.controls['username'].invalid && (studentForm.controls['username'].dirty || studentForm.controls['username'].touched)}">
                    </div>
                    <div class="form-group">
                        <label>班级</label>
                        <select name="stu-class" class="form-control" formControlName="class_id"
                            [ngClass]="{'input-error': studentForm.controls['class_id'].invalid && (studentForm.controls['class_id'].dirty || studentForm.controls['class_id'].touched)}">
                            <option [value]="item.id" *ngFor="let item of classes">{{item.type}}{{item.major}}{{item.regist_year}} {{item.num}} 班</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" placeholder="Student Password"
                            formControlName="password"
                            [ngClass]="{'input-error': studentForm.controls['password'].invalid && (studentForm.controls['password'].dirty || studentForm.controls['password'].touched)}">
                    </div>
                    <div class="form-group lead my-4">
                        <span class="mr-5">
                            <input type="radio" name="gender" formControlName="gender" value="男"> 男
                        </span>
                        <span>
                            <input type="radio" name="gender" formControlName="gender" value="女"> 女
                        </span>
                    </div>
                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="email" class="form-control" placeholder="Student Email" formControlName="email"
                            [ngClass]="{'input-error': studentForm.controls['email'].invalid && (studentForm.controls['email'].dirty || studentForm.controls['email'].touched)}">
                    </div>
                    <div class="form-group">
                        <label>电话</label>
                        <input type="text" class="form-control" placeholder="Student Phone" formControlName="phone"
                            [ngClass]="{'input-error': studentForm.controls['phone'].invalid && (studentForm.controls['phone'].dirty || studentForm.controls['phone'].touched)}">
                        <small class="form-text text-danger"
                            *ngIf="studentForm.controls['phone'].invalid && (studentForm.controls['phone'].dirty || studentForm.controls['phone'].touched)">11
                            位手机号码</small>
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-success" [disabled]="!studentForm.valid || isRunStudentRegisting">
                            <i class="fas fa-check mr-2"></i>
                            注 册
                        </button>
                        <span *ngIf="isRunStudentRegisting"><i class="fas fa-cog fa-lg fa-spin ml-4 mr-2"></i>正在处理中 ...</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>