<div id="regist" class="regist bg-dark text-secondary">
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <a [routerLink]="[ '/' ]" class="text-white">
                    <i class="fas fa-angle-left mr-1"></i>
                    返 回
                </a>
            </div>
        </div>
        <div class="row pb-5 justify-content-between">
            <div class="col-5 py-3">
                <h3 class="mb-4">
                    <span class="text-primary font-weight-bold">教师</span> 注册 | Teacher
                </h3>
                <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()" class="regist-form">
                    <div class="form-group">
                        <label>工号</label>
                        <input type="text" class="form-control" placeholder="Teacher ID" formControlName="id"
                            [ngClass]="{'input-error': teacherForm.controls['id'].invalid && (teacherForm.controls['id'].dirty || teacherForm.controls['id'].touched)}">
                        <small
                            *ngIf="teacherForm.controls['id'].invalid && (teacherForm.controls['id'].dirty || teacherForm.controls['id'].touched)"
                            class="form-text text-muted">必须全部是数字</small>
                    </div>

                    <div class="form-group">
                        <label>姓名</label>
                        <input type="text" class="form-control" placeholder="Teacher Username"
                            formControlName="username"
                            [ngClass]="{'input-error': teacherForm.controls['username'].invalid && (teacherForm.controls['username'].dirty || teacherForm.controls['username'].touched)}">
                    </div>

                    <div class="form-group">
                        <label>密码</label>
                        <input type="password" class="form-control" placeholder="Teacher Password"
                            formControlName="password"
                            [ngClass]="{'input-error': teacherForm.controls['password'].invalid && (teacherForm.controls['password'].dirty || teacherForm.controls['password'].touched)}">
                    </div>

                    <div class="form-group">
                        <label>邮箱</label>
                        <input type="email" class="form-control" placeholder="Teacher Email" formControlName="email"
                            [ngClass]="{'input-error': teacherForm.controls['email'].invalid && (teacherForm.controls['email'].dirty || teacherForm.controls['email'].touched)}">
                        <small class="form-text text-muted"
                            *ngIf="teacherForm.controls['email'].invalid && (teacherForm.controls['email'].dirty || teacherForm.controls['email'].touched)">邮箱格式不正确</small>
                    </div>

                    <div class="form-group">
                        <label>学院/系部</label>
                        <input type="text" class="form-control" placeholder="Teacher ID" formControlName="department"
                            [ngClass]="{'input-error': teacherForm.controls['department'].invalid && (teacherForm.controls['department'].dirty || teacherForm.controls['department'].touched)}">
                    </div>

                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-primary" [disabled]="!teacherForm.valid">
                            <i class="fas fa-check mr-2"></i>
                            注 册
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-5 py-3">
                <h3 class="mb-4">
                    <span class="text-success font-weight-bold">学生</span> 注册 | Student
                </h3>
                <form #teacherRegist class="regist-form">
                    <div class="form-group">
                        <label for="stu-id">学号</label>
                        <input type="text" class="form-control" placeholder="Student ID" id="stu-id">
                    </div>
                    <div class="form-group">
                        <label for="tea-username">姓名</label>
                        <input type="text" class="form-control" placeholder="Teacher Username" id="tea-username">
                    </div>
                    <div class="form-group">
                        <label for="stu-class">班级</label>
                        <select name="stu-class" id="stu-class" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="stu-password">密码</label>
                        <input type="password" class="form-control" placeholder="Student Password" id="stu-password">
                    </div>
                    <div class="form-group lead my-4">
                        <span class="mr-5">
                            <input type="radio" name="gender"> 男
                        </span>
                        <span>
                            <input type="radio" name="gender"> 女
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="stu-email">邮箱</label>
                        <input type="email" class="form-control" placeholder="Student Email" id="stu-email">
                    </div>
                    <div class="form-group">
                        <label for="stu-phone">电话</label>
                        <input type="text" class="form-control" placeholder="Student Phone" id="stu-phone">
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-success">
                            <i class="fas fa-check mr-2"></i>
                            注 册
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>