.regist{
    .input-error{
        border: solid 2px red;
        background-color: yellow;
    }
    .regist-form{
        background-color:white;
        padding:1rem;
        color: black;
        font-weight: normal;
    }
}