<div id="exam" class="exam pt-4 pb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <form [formGroup]="examForm" class="bg-info text-white p-3" (ngSubmit)="onExamFormSubmit()">
                    <div class="form-group">
                        <label class="lead">
                            <i class="fas fa-book mr-1"></i>
                            课程
                        </label>
                        <select name="course_id" class="form-control form-control-lg" formControlName="course_id"
                            (change)="onCourseSelectChanged()">
                            <option value="" disabled selected></option>
                            <option [value]="item.id" *ngFor="let item of courses">{{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="lead">
                            <i class="fas fa-clock mr-1"></i>
                            考试时长&nbsp;&nbsp;&nbsp;&nbsp;( 分钟 )
                        </label>
                        <input type="number" class="form-control form-control-lg" formControlName="duration">
                    </div>
                    <div class="form-group">
                        <label class="lead">
                            <i class="fas fa-flag mr-1"></i>
                            总分
                        </label>
                        <input type="number" class="form-control form-control-lg" formControlName="total">
                    </div>
                    <div class="form-group">
                        <label class="lead">
                            <i class="fas fa-map-marker-alt mr-1"></i>
                            试题分布
                        </label>
                        <form [formGroup]="questionForm" (ngSubmit)="onAddQuestionSubmit()">
                            <div class="row">
                                <div class="col">
                                    <label>题型</label>
                                    <select class="form-control form-control-lg" formControlName="question">
                                        <option value="" disabled selected></option>
                                        <option [value]="q.url+'@'+q.title" *ngFor="let q of questions">{{q.title}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>数量</label>
                                    <input type="number" class="form-control form-control-lg" formControlName="count">
                                </div>
                                <div class="col">
                                    <label>每题的分值</label>
                                    <input type="number" class="form-control form-control-lg" formControlName="point">
                                </div>
                                <div class="col">
                                    <label>添加新题型</label>
                                    <div>
                                        <button class="btn btn-block btn-lg btn-danger" type="submit"
                                            [disabled]="!questionForm.valid">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <ul class="list-group mt-4">
                            <li class="list-group-item bg-warning text-dark py-1 text-center font-weight-bold lead">
                                添加题型的顺序将会与最终生成试卷的题型顺序一致</li>
                            <li class="list-group-item bg-primary lead"
                                *ngFor="let item of examForm.get('questions').value">题型:
                                {{item.title}}&nbsp;&nbsp;&nbsp;数量: {{item.count}}&nbsp;&nbsp;&nbsp;每题的分值:
                                {{item.point}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;共 {{item.count * item.point}} 分
                                <button type="button" class="btn btn-sm btn-danger float-right"
                                    (click)="onRemoveQuestion(item)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </li>
                        </ul>
                        <h3 class="text-right mt-3">当前总分 : {{currentTotalQuestionsPoints}}</h3>
                        <h5 class="text-right mt-2 text-warning">与预设总分相差 :
                            {{examForm.get('total').value - currentTotalQuestionsPoints}}</h5>
                    </div>
                    <div class="form-group mt-4">
                        <button class="btn btn-lg btn-warning" type="submit"
                            [disabled]="!examForm.valid || examForm.get('total').value!=currentTotalQuestionsPoints || isSubmitingExam">提交
                            &
                            保存</button>
                    </div>
                </form>
            </div>
            <!-- ======== Exam List =========== -->
            <div class="col">
                <h2>共有 {{savedExams.length}} 项考试</h2>
                <hr>
                <div class="card border-danger mb-4" *ngFor="let exam of savedExams">
                    <div class="card-header bg-danger text-white lead font-weight-bolder">
                        <span class="mr-5">ID: {{exam.id}}</span>
                        《 {{exam.course_name}} 》考试
                        <span class="float-right ml-5">创建时间: {{exam.created_datetime}}</span>
                        <span class="float-right">
                            <i class="fas fa-flag mr-1"></i>
                            总分: {{exam.total}}
                        </span>
                        <span class="float-right mr-4">
                            <i class="fas fa-clock mr-1"></i>
                            时长: {{exam.duration}} 分钟
                        </span>
                    </div>
                    <div class="card-body text-secondary">
                        <table class="table table-bordered table-striped">
                            <thead class="text-center">
                                <th>题型</th>
                                <th>标签</th>
                                <th>数量</th>
                                <th>每题分值</th>
                                <th>合计分值</th>
                            </thead>
                            <tbody>
                                <tr class="text-center" *ngFor="let question of exam['questions']">
                                    <td>{{question.title}}</td>
                                    <td>{{question.question}}</td>
                                    <td>{{question.count}}</td>
                                    <td>{{question.point}}</td>
                                    <td>{{question.count * question.point}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="font-weight-bold mt-4">
                            <div class="row">
                                <div class="col-2 pt-2 text-dark">
                                    参加考试的班级
                                    <button class="btn btn-warning mt-2" (click)="saveClassesForExam(exam)" [disabled]="isUpdatingClassesForExam">
                                        <i class="fas fa-save mr-2"></i>
                                        保存修改
                                    </button>
                                    <p class="mt-2" *ngIf="isUpdatingClassesForExam">
                                        <i class="fas fa-cog fa-spin mr-2"></i>
                                        修改中 ...
                                    </p>
                                </div>
                                <div class="col border-left border-dark">
                                    <div class="row">
                                        <div class="mr-4 col-5 mb-2 text-dark" *ngFor="let class of exam.classes">
                                            {{class.type}} {{class.major}}
                                            {{class.regist_year}} {{class.num}} 班
                                            <button class="btn btn-lg btn-link ml-3" (click)="removeClass(class,exam)">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <form class="mt-3" [formGroup]="selectedClassForm">
                                        <div class="form-row">
                                            <div class="col">
                                                <select class="form-control" formControlName="class_id">
                                                    <option value="" disabled>-- 选择要添加的班级 --</option>
                                                    <option [value]="class.id" *ngFor="let class of savedClasses">
                                                        {{class.type}}
                                                        {{class.major}} {{class.regist_year}}-{{class.num}} 班</option>
                                                </select>
                                                <div class="text-danger" *ngIf="exam['classes'].length==0">此项考试还没有添加班级，所以暂时不能用于实际的考试中。</div>
                                            </div>
                                            <div class="col">
                                                <button class="btn btn-primary"
                                                    (click)="addClassToExam(exam)" [disabled]="!selectedClassForm.valid">添加班级</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center font-weight-bolder bg-warning py-2">
                        请不要忘记，在修改了上方的班级信息后，点击【左侧】【黄色】的【保存修改按钮】。否则修改不生效 ！
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>