.student-profile{
    .card{
        transition: box-shadow 0.3s;
        transition: transform 0.3s;
        &:hover{
            box-shadow: 2px 2px 10px gray;
            transform: translate(-2px,-2px)
        }
    }
    .submit-box{
        border-radius: 50%;
        border: dashed 2px red;
        width: 10rem;
        height: 10rem;
        line-height: 9rem;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        font-size: 2rem;
        color: red;
        font-weight: bold;
        transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        position: absolute;
        bottom: 10%;
        right: 5%;
    }
}