<div id="student-profile" class="student-profile py-5">
    <div class="container-fluid px-5">
        <div class="row justify-content-between">
            <div class="col">
                <h1 class="mb-4">
                    <i class="fas fa-user-graduate mr-2"></i>
                    学生信息
                </h1>
                <ul class="list-group list-group-flush border-0">
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">学号</span>
                        {{student['id']}}
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">姓名</span>
                        {{student['username']}}
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">密码</span>
                        <i class="fas fa-key"></i>
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0" *ngIf="student['class']">
                        <span class="mr-3 text-secondary">班级</span>
                        {{student['class']['full_name']}} <span class="text-info">班</span>
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">性别</span>
                        {{student['gender']}}
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">邮箱</span>
                        {{student['email']}}
                    </li>
                    <li class="list-group-item font-weight-bold lead border-0 px-0">
                        <span class="mr-3 text-secondary">电话</span>
                        {{student['phone']}}
                    </li>
                </ul>
            </div>
            <div class="col">
                <h1 class="mb-4 text-info">
                    <i class="fas fa-star mr-2"></i>
                    考试信息
                </h1>
                <div class="lead font-weight-bold lead" *ngIf="isFetchingExams">
                    <i class="fas fa-cog fa-spin fa-1x mr-3"></i>
                    正在读取考试信息 ...
                </div>
                <div class="lead font-weight-bold lead" *ngIf="exams.length==0 && !isFetchingExams">
                    暂无考试信息
                </div>
                <div class="card border-info mb-4" *ngFor="let exam of exams">
                    <div class="submit-box" *ngIf="exam['marked']">已交卷</div>
                    <div class="card-header text-info font-weight-bold lead">
                        <span class="mr-4">ID : {{exam['id']}}</span>
                        <span>《 {{exam['course_name']}} 》</span>
                    </div>
                    <div class="card-body text-danger pb-0">
                        <table class="table text-center table-bordered text-info">
                            <thead>
                                <th>考试时长 ( 分钟 )</th>
                                <th>试卷总分</th>
                            </thead>
                            <tbody>
                                <tr class="text-dark lead font-weight-bold">
                                    <td>{{exam['duration']}}</td>
                                    <td>{{exam['total']}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-right border-0 bg-white">
                        <button class="btn btn-info" (click)="startExam(exam)" *ngIf="!exam['marked']">
                            <i class="fas fa-caret-right mr-1"></i>
                            开始考试
                        </button>
                    </div>
                </div>
            </div>
            <div class="col px-5">
                <h1 class="mb-4 text-danger">
                    <i class="fas fa-info-circle mr-2"></i>
                    注意事项
                </h1>
                <ul class="list-unstyled font-weight-normal">
                    <li *ngFor="let item of examNotice; let i=index" class="py-1">
                        <span class="lead mr-2 font-weight-bolder">{{i+1}}.</span>
                        {{item}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>