.student-profile{
    .card{
        transition: box-shadow 0.3s;
        transition: transform 0.3s;
        &:hover{
            box-shadow: 2px 2px 10px gray;
            transform: translate(-5px,-4px)
        }
    }
}