<div id="sign" class="sign bg-white">
  <form class="px-4 py-3 login-form" #loginForm="ngForm">
    <h3 class="text-center mt-2 mb-4">登 录 | Login</h3>
    <div class="form-group">
      <label for="login-stu-id">工号 / 学号</label>
      <input type="text" name="login-stu-id" id="login-stu-id" class="form-control" #id required [(ngModel)]="login.id">
    </div>
    <div class="form-group">
      <label for="login-stu-password">密码</label>
      <input type="password" name="login-stu-password" id="login-stu-password" class="form-control" #password required
        [(ngModel)]="login.password">
    </div>
    <div class="form-group mt-4">
      <span class="mr-5">
        <label></label>
        <input type="radio" name="login-role" class="mr-2 radioFour" value="teacher" #role required [(ngModel)]="login.role">教 师
      </span>
      <span class="lead">
        <label></label>
        <input type="radio" name="login-role" class="mr-2 radioFour" value="student" #role required [(ngModel)]="login.role">学 生
      </span>
    </div>
    <div class="form-group mt-4" *ngIf="loginError">
      <div class="alert alert-danger py-1 text-center" role="alert">
        登录信息错误，请再试一次
      </div>
    </div>
    <div class="form-group text-right mt-4">
      <button type="reset" class="btn btn-secondary btn-sm">
        <i class="fas fa-redo-alt mr-2"></i>重写
      </button>
      <button type="button" class="btn btn-danger btn-sm ml-2" (click)="execLogin()" [disabled]="!loginForm.form.valid">
        <i class="fas fa-flag mr-2"></i>登录
      </button>
    </div>
    <hr>
    <div class="text-center">
      <a [routerLink]="[ '/regist' ]">新用户注册</a>
    </div>
  </form>
</div>