<div class="metadata" class="metadata">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="lead font-weight-bold">班级 | Class</p>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <form class="metadata-form" [formGroup]="classForm" (ngSubmit)="onSubmit('classes')">
                            <div class="form-group">
                                <label>专业</label>
                                <select name="class-major" class="form-control" formControlName="major">
                                    <option [value]="major" *ngFor="let major of majors">{{major}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>类型</label>
                                <select name="class-type" class="form-control" formControlName="type">
                                    <option value="高职">高职</option>
                                    <option value="五年制">五年制</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>入学年份</label>
                                <select name="class-regist-year" class="form-control" formControlName="regist_year">
                                    <option [value]="year" *ngFor="let year of registYears">{{year}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>班级编号</label>
                                <select name="class-num" class="form-control" formControlName="num">
                                    <option [value]="num" *ngFor="let num of classNums">{{num}}</option>
                                </select>
                            </div>
                            <div class="form-group text-right mt-4">
                                <span class="mr-4 lead" *ngIf="isSubmitingClass"><i
                                        class="fas fa-cog fa-spin mr-2"></i>处理中，请稍后 ...</span>
                                <button class="btn btn-primary" [disabled]="!classForm.valid">
                                    <i class="fas fa-plus mr-2"></i>添加
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-7">
                        <div class="row py-2 lead" *ngFor="let obj of sources['classes']; let i=index">
                            <div class="col-1 bg-primary text-center text-white">{{i+1}}</div>
                            <div class="col-3">ID：{{obj['id']}}</div>
                            <div class="col font-weight-bold">{{obj['type']}} {{obj['major']}} {{obj['regist_year']}}-{{obj['num']}} <span class="text-primary">班</span></div>
                        </div>
                        <hr>
                        <p class="text-right lead">共计：{{sources['classes'].length}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="lead font-weight-bold">课程 | Course</p>
                <div class="row">
                    <div class="col">
                        <form [formGroup]="courseForm" (ngSubmit)="onSubmit('courses')">
                            <div class="form-group">
                                <label>名称</label>
                                <input type="text" placeholder="课程名称" class="form-control" formControlName="name">
                            </div>
                            <div class="form-group">
                                <label>学分</label>
                                <input type="number" placeholder="对应的学分" class="form-control" formControlName="credit">
                            </div>
                            <div class="form-group text-right mt-4">
                                <span class="mr-4 lead" *ngIf="isSubmitingCourse"><i
                                        class="fas fa-cog fa-spin mr-2"></i>处理中，请稍后 ...</span>
                                <button class="btn btn-success" type="submit" [disabled]="!courseForm.valid">
                                    <i class="fas fa-plus mr-2"></i>添加
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        Course List
                    </div>
                </div>

            </div>
            <div class="col-12">
                <p class="lead font-weight-bold">考试 | Examination</p>
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="form-group">
                                <label>本次考试针对的课程</label>
                                <select name="course_id" class="form-control">
                                    <option value="">course 1</option>
                                    <option value="">course 2</option>
                                    <option value="">course 3</option>
                                </select>
                            </div>
                            <div class="form-group text-right mt-4">
                                <span class="mr-4 lead" *ngIf="isSubmitingExam"><i
                                        class="fas fa-cog fa-spin mr-2"></i>处理中，请稍后 ...</span>
                                <button class="btn btn-danger">
                                    <i class="fas fa-plus mr-2"></i>添加
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        Course List
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>