<div class="metadata" class="metadata pt-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center">基础数据</h1>
            </div>
        </div>
        <div class="row">
            <!-- ========== 班级 ============ -->
            <div class="col-12">
                <p class="question-title">班 级 | Class <small class="ml-4 text-muted">共计 :
                        {{sources['classes'].length}}</small></p>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <form class="metadata-form" [formGroup]="classForm" (ngSubmit)="onSubmit('classes')">
                            <div class="form-group">
                                <label>专业</label>
                                <select name="class-major" class="form-control" formControlName="major">
                                    <option [value]="major" *ngFor="let major of majors">{{major}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>类型</label>
                                <select name="class-type" class="form-control" formControlName="type">
                                    <!-- <option value="高职">高职</option>
                                    <option value="五年制">五年制</option> -->
                                    <option [value]="type" *ngFor="let type of classTypes">{{type}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>入学年份</label>
                                <select name="class-regist-year" class="form-control" formControlName="regist_year">
                                    <option [value]="year" *ngFor="let year of registYears">{{year}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>班级编号</label>
                                <select name="class-num" class="form-control" formControlName="num">
                                    <option [value]="num" *ngFor="let num of classNums">{{num}}</option>
                                </select>
                            </div>
                            <div class="form-group text-right mt-4">
                                <span class="mr-4 lead" *ngIf="isSubmitingClass"><i
                                        class="fas fa-cog fa-spin mr-2"></i>处理中，请稍后 ...</span>
                                <button class="btn btn-primary" [disabled]="!classForm.valid">
                                    <i class="fas fa-plus mr-2"></i>添加
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-7">
                        <p>
                            <i class="fas fa-bell mr-1 text-danger"></i>
                            {{setupNotice('班级')}}
                        </p>
                        <table class="table table-striped table-hover text-center">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>序号</th>
                                    <th>班级 ID</th>
                                    <th>班级全称</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let classObj of sources['classes']; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{classObj['id']}}</td>
                                    <td>{{classObj['full_name']}}</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm"
                                            *ngIf="detectCanRemovable(classObj['id'],null)"
                                            (click)="removeItemById('classes',classObj['id'])">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- ========== 课程 ============ -->
            <div class="col-12 mt-5">
                <p class="question-title">课 程 | Course <small class="ml-4 text-muted">共计 :
                        {{sources['courses'].length}}</small></p>
                <div class="row justify-content-between">
                    <div class="col-4">
                        <form class="metadata-form" [formGroup]="courseForm" (ngSubmit)="onSubmit('courses')">
                            <div class="form-group">
                                <label>名称</label>
                                <input type="text" placeholder="课程名称" class="form-control" formControlName="name">
                                <small class="text-info">注意课程名称尽量不要与现有课程名称太相似</small>
                            </div>
                            <div class="form-group">
                                <label>学分</label>
                                <input type="number" placeholder="对应的学分" class="form-control" formControlName="credit">
                            </div>
                            <div class="form-group text-right mt-4">
                                <span class="mr-4 lead" *ngIf="isSubmitingCourse"><i
                                        class="fas fa-cog fa-spin mr-2"></i>处理中，请稍后 ...</span>
                                <button class="btn btn-success" type="submit" [disabled]="!courseForm.valid">
                                    <i class="fas fa-plus mr-2"></i>添加
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-7">
                        <p>
                            <i class="fas fa-bell mr-1 text-danger"></i>
                            {{setupNotice('课程')}}
                        </p>
                        <table class="table table-striped text-center table-hover">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th>序号</th>
                                    <th>课程 ID</th>
                                    <th>课程名称</th>
                                    <th>学分</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let course of sources['courses']; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{course['id']}}</td>
                                    <td>{{course['name']}}</td>
                                    <td>{{course['credit']}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-outline-success btn-sm"
                                            *ngIf="detectCanRemovable(null,course['id'])"
                                            (click)="removeItemById('courses',course['id'])">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>