<div id="question-toggle-buttons" class="question-toggle-buttons my-3">
    <div class="container">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left mr-2"></i>
                    上一题
                </button>
                <button type="button" class="btn btn-outline-secondary">
                    下一题
                    <i class="fas fa-arrow-right ml-2"></i>
                </button>
            </div>
        </div>
    </div>
</div>