<div id="exam-mark" class="exam-mark bg-light py-4">
    <div class="container-fluid">
        <div class="row">
            <!-- =========== Menus Area =========== -->
            <div class="col-4">
                <h1>考试阅卷</h1>
                <hr>

                <ul class="list-group">
                    <li class="list-group-item pl-0 border-0" *ngFor="let courseGroup of groupedMenuList; let x=index">
                        <h3>《 {{courseGroup['course_name']}} 》</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let classGroup of courseGroup['list']; let y=index">
                                <h5>{{classGroup['class_name']}} <span class="text-info">班</span></h5>
                                <button class="btn font-weight-bold mt-2 mr-2"
                                    *ngFor="let item of classGroup['list']; let z=index"
                                    [ngClass]="{'btn-primary': item['marked']==1, 'btn-outline-primary':item['marked']==0}"
                                    (click)="selectPaper(x,y,z)">
                                    <i class="fas fa-book-open"></i>
                                    {{y+1}}&nbsp;&nbsp;&nbsp;{{item['score']}} 分
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- =========== Papers Area =========== -->
            <div class="col">
                <div class="paper" *ngIf="currentPaper">
                    <p class="lead font-weight-normal" style="font-size: 2.5rem">
                        <span class="bg-primary text-white px-2 py-1 font-weight-bold mr-2">《
                            {{currentPaper['course_name']}} 》</span>
                        试卷ID: {{currentPaper['id']}}
                    </p>
                    <div class="alert alert-primary">
                        <ul class="m-0 py-0">
                            <li>完成所有题目的评分工作后，请在试卷最下方点击【完成阅卷】按钮。</li>
                            <li>因为【选择题】、【填空题】、【判断题】都属于标准化题目，评分工作由程序自动完成。请教师直接评阅【简答题】或者【编程题】。</li>
                        </ul>
                    </div>
                    <div class="alert alert-warning">
                        <ul class="m-0 py-0">
                            <li>如果试题的得分大于其分值，或者没有给与该试题得分，则无法点击【完成阅卷】按钮。</li>
                        </ul>
                    </div>
                    <div class="content-area" *ngFor="let item of currentPaper['paper']; let x=index">
                        <!-- Choices -->
                        <div *ngIf="item['question']=='choices'">
                            <h4 class="question-type">
                                {{item['title']}}
                                <small class="badge badge-warning">每题 {{item['point']}} 分</small>
                            </h4>
                            <ol class="content-list">
                                <li class="content-obj" *ngFor="let content of item['contents']">
                                    <pre class="content-question" [innerHTML]="content['question']"></pre>
                                    <ul class="list-unstyled option-list">
                                        <li class="option" *ngFor="let option of content['options']">{{option}}
                                            <span class="mx-2 badge badge-dark"
                                                *ngIf="option==content['standard_answer']">标准答案</span>
                                            <span class="mx-2 badge badge-info"
                                                *ngIf="option==content['stu_answer']">学生答案</span>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                        <!-- Fills -->
                        <div *ngIf="item['question']=='fills'">
                            <h4 class="question-type">
                                {{item['title']}}
                                <small class="badge badge-warning">每题 {{item['point']}} 分</small>
                            </h4>
                            <ol class="content-list">
                                <li class="content-obj" *ngFor="let content of item['contents']">
                                    <pre class="content-question" [innerHTML]="content['question']"></pre>
                                    <div class="answer font-weight-bold">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        标准答案：
                                        <span class="mr-4" *ngFor="let sa of content['standard_answer']">{{sa}}</span>
                                    </div>
                                    <div class="answer font-weight-bold text-info">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        考生答案：
                                        <span class="mr-4" *ngFor="let sa of content['stu_answer']">{{sa}}</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!-- Judges -->
                        <div *ngIf="item['question']=='judges'">
                            <h4 class="question-type">
                                {{item['title']}}
                                <small class="badge badge-warning">每题 {{item['point']}} 分</small>
                            </h4>
                            <ol class="content-list">
                                <li class="content-obj" *ngFor="let content of item['contents']">
                                    <pre class="content-question" [innerHTML]="content['question']"></pre>
                                    <div class="answer font-weight-bolder">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        标准答案：{{content['standard_answer']}}
                                    </div>
                                    <div class="answer font-weight-bolder text-info">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        考生答案：{{content['stu_answer']}}
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <!-- Short Answer -->
                        <div *ngIf="item['question']=='short_answers'">
                            <h4 class="question-type">
                                {{item['title']}}
                                <small class="badge badge-warning">每题 {{item['point']}} 分</small>
                            </h4>
                            <ol class="content-list">
                                <li class="content-obj" *ngFor="let content of item['contents']">
                                    <pre class="content-question" [innerHTML]="content['question']"></pre>
                                    <label class="font-weight-bold">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        参考答案
                                    </label>
                                    <pre class="bg-dark p-2 text-white answer"
                                        [innerHTML]="content['standard_answer']"></pre>
                                    <label class="font-weight-bold text-info">
                                        <i class="fas fa-caret-right mr-2"></i>
                                        考生答案
                                    </label>
                                    <pre class="text-info p-2 answer" [innerHTML]="content['stu_answer']"></pre>
                                    <hr>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text font-weight-bolder text-success">
                                                        得分
                                                    </span>
                                                </div>
                                                <input type="number" class="form-control form-control-lg text-success"
                                                    placeholder="分值" aria-label="Username"
                                                    aria-describedby="basic-addon1" [(ngModel)]="content['score']"
                                                    (keyup)="checkInvalidScore()">
                                                <div class="input-group-append">
                                                    <span class="input-group-text font-weight-bolder">/
                                                        {{item['point']}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col lead">
                                            分值必须是整数数字，但是分值不能大于该题的分值
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-lg btn-danger" (click)="finishMarkPaper()" [disabled]="invalidScore">
                            <i class="fas fa-check mr-2"></i>
                            完成阅卷
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>