.manage-center{
    .active{
        color: #ccc !important;
        &:hover{
            color: white !important;
        }
    }
    .dropdown-item{
        &:hover{
            background-color: orangered;
            color: white;
        }
    }
    .dropdown-menu{
        box-shadow: 2px 2px 5px gray;
    }
}