<div id="manage-center" class="manage-center">
    <!-- Navbar: start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">EasyExam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar: end -->
    <div class="container-fluid">
        <div class="row px-2 py-4">
            <div class="col-2">
                <div class="row">
                    <div class="list-group w-100">
                        <a (click)="selectMenu(i)" [routerLink]="menu.url"
                            class="list-group-item list-group-item-action" [ngClass]="{'active': i==currentMenuIndex}"
                            *ngFor="let menu of menuList; let i=index">
                            <i class="fas mr-4" [ngClass]="menu.icon"></i>{{menu.title}}
                        </a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="alert bg-warning text-dark font-weight-bold w-100 py-0" role="alert">
                        <ul class="list-group p-0">
                            <li class="list-group-item py-2 px-0 bg-warning">
                                <i class="fas fa-bell mr-1"></i>
                                【题库资源】是最基础的资源，所以在添加或者修改【基础信息】--【考试】中的参数时，请先保证添加足够的题目。
                            </li>
                            <li class="list-group-item py-2 px-0 bg-warning">
                                <i class="fas fa-bell mr-1"></i>
                                先有课程，才会有这门课的考试。所以在添加【基础信息】--【考试】时，请先确认相关的课程信息已经被添加。
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>