<div id="manage-center" class="manage-center">
    <!-- Modal:start -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">提示 | Notices</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        【题库资源】是最基础的资源，所以在添加或者修改【考试设计】中的参数时，请先保证已经添加了足够的题目。
                    </p>
                    <p>
                        先有课程，才会有这门课的考试。所以在操作【考试设计】时，请先确认相关的课程信息已经被添加。
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal:end -->
    <!-- Navbar: start -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="#">EasyExam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-4 dropdown" *ngFor="let menu of menuList; let i=index">
                    <!-- 如果 没有 下拉菜单选项 -->
                    <a *ngIf="!menu.dropdown" class="nav-link"
                        (click)="selectMenu(i)" [routerLink]="menu.base_url" role="button">
                        <i class="fas mr-2" [ngClass]="menu.icon"></i>
                        {{menu.title}}
                    </a>
                    <!-- 如果 有 下拉菜单选项 -->
                    <a *ngIf="menu.dropdown" href="#" class="nav-link" [ngClass]="{'dropdown-toggle': menu.dropdown}"
                        (click)="selectMenu(i)" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas mr-2" [ngClass]="menu.icon"></i>
                        {{menu.title}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menu.dropdown">
                        <a class="dropdown-item" [routerLink]="[menu.base_url, q.url]" *ngFor="let q of menu.dropdown"
                            (click)="handleQuestionTitleChanged(q.url)">
                            <i class="fas mr-2" [ngClass]="q.icon"></i>
                            {{q.title}}
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown mx-5 border-left border-1 border-light pl-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user mr-2"></i>
                        教师信息
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="[ './teacher-profile']">
                            <i class="fas fa-id-badge mr-2"></i>
                            个人中心
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()" href="javascript:;">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            退出
                        </a>
                    </div>
                </li>
                <li class="nav-item ml-3">
                    <button class="btn text-warning btn-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-bell"></i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navbar: end -->
    <div class="container-fluid mt-5">
        <div class="row px-2 py-4">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>