/* You can add global styles to this file, and also import other style files */
.text-weight-normal {
  font-weight: 300;
}

.question-title{
  border-bottom: solid 2px gray;
  font-size: 2rem;
  padding: 0.5rem 0rem;
}

.bg-black{
  background-color: #1a1d24;
}