.question-bank{
    .radioFour {
        width: 20px;
        height: 20px;
    }

    .question-bank-form{
        background-color: #222222;
        color: white;
        margin-bottom: 3rem;
        padding: 1rem 1rem 0.5rem;
        border: solid 1px gray;
    }
    .data-area{
        max-height: 34rem;
        overflow-y: auto;
        // box-shadow: 4px 4px 10px gray;
    }
    #top-btn{
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1000;
        box-shadow: 4px 4px 10px black;
    }
}