<div id="question-bank" class="question-bank pb-5">
    <button class="btn btn-danger" id="top-btn" (click)="goToTop()">
        <i class="fas fa-chevron-up"></i>
    </button>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="choices">
                <p class="question-title">选 择 题（单选）<small class="ml-3 text-secondary">共 {{totalChoices}} 道题</small></p>
                <div class="row">
                    <div class="col-5">
                        <form [formGroup]="choiceForm" class="question-bank-form" (ngSubmit)="onChoiceSubmit()">
                            <div class="form-group">
                                <label>课程</label>
                                <select name="course_id" class="form-control" formControlName="course_id">
                                    <option value="" disabled selected></option>
                                    <option [value]="item.id" *ngFor="let item of courses">{{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>题目</label>
                                <textarea class="form-control"
                                    placeholder="书写规范： XXXXXXXXXXX (        ) XXXX (        ) XXX。"
                                    formControlName="question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>选项</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="在这里直接填写选项的内容。不需要带有 A、B、C、D"
                                        formControlName="currentOption">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button" (click)="addOptionForChoice()"
                                            [disabled]="!choiceForm.get('currentOption').value">添加选项</button>
                                    </div>
                                </div>
                                <div>
                                    <span class="mr-4 lead font-weight-bold text-primary"
                                        *ngFor="let option of choiceForm.get('options').value; let i=index">
                                        <input type="radio" name="standard-answer" class="mr-2 radioFour"
                                            (change)="standardAnswerChanged(option)">{{option}}
                                        <button class="btn btn-danger btn-sm ml-1 py-0"
                                            (click)="removeOptionForChoice(i)"><i class="fas fa-ban"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>本题详解（选填）</label>
                                <textarea name="explaination" class="form-control"
                                    formControlName="explanation"></textarea>
                            </div>
                            <div class="form-group text-right mt-4">
                                <div class="alert text-warning font-weight-bolder" role="alert">
                                    题目的数据涉及到考试设计，一旦提交无法修改或删除。请注意在提交前检查题目的内容。
                                </div>
                                <span class="mr-3 lead" *ngIf="isSubmitingChoice">
                                    <i class="fas fa-cog fa-spin mr-2"></i>处理中 ...
                                </span>
                                <button class="btn btn-secondary" type="reset">重置</button>
                                <button class="btn btn-primary ml-3" type="submit"
                                    [disabled]="!choiceForm.valid || isSubmitingChoice">完成 并
                                    提交</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="text-center display-4" *ngIf="savedChoices.length==0">
                            <i class="fas fa-cog fa-spin"></i> 加载数据中 ...
                        </div>
                        <div *ngIf="savedChoices.length!=0" class="data-area bg-light border border-dark p-2">
                            <div *ngFor="let group of savedChoices" class="mb-3">
                                <p class="lead font-weight-bold mb-1">
                                    <i class="fas fa-coffee mr-2"></i>
                                    {{group['course_name']}}
                                    <span class="ml-1 text-secondary">({{group['list'].length}})</span>
                                </p>
                                <div class="card bg-dark text-white mb-1" *ngFor="let item of group['list']">
                                    <div class="card-header py-1 bg-primary">
                                        ID: {{item['id']}}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">{{item['question']}}</p>
                                        <p class="card-text">
                                            <span *ngFor="let option of item['options']; let i=index" class="mr-4"
                                                [ngClass]="{'text-danger font-weight-bold': option==item['standard_answer']}"><span
                                                    class="text-secondary">{{i+1}}.</span> {{option}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =========================== -->
            <div class="col-12 mt-5" id="fills">
                <p class="question-title">填 空 题（一个或多个空）<small class="ml-3 text-secondary">共 {{totalFills}} 道题</small>
                </p>
                <div class="row">
                    <div class="col-5">
                        <form class="question-bank-form" [formGroup]="fillForm" (ngSubmit)="onFillSubmit()">
                            <div class="form-group">
                                <label>课程</label>
                                <select name="course_id" class="form-control" formControlName="course_id">
                                    <option value="" disabled selected></option>
                                    <option [value]="item.id" *ngFor="let item of courses">{{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>题目</label>
                                <textarea placeholder="书写规范： XXX___XXX, ___XXX, XXX___。" class="form-control"
                                    formControlName="question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    标准答案
                                    <span class="alert alert-warning py-0 px-1 ml-3 text-center" role="alert"><i
                                            class="fas fa-exclamation-triangle mr-2"></i>答案的顺序必须与题目中的空位顺序一致。</span>
                                </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="在这里直接按照题目中空位的顺序，填写标准答案。"
                                        formControlName="currentAnswer">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button"
                                            [disabled]="!fillForm.get('currentAnswer').value"
                                            (click)="addAnswerForFill()">添加答案</button>
                                    </div>
                                </div>
                                <div>
                                    <span class="mr-4 lead font-weight-bold text-primary"
                                        *ngFor="let answer of fillForm.get('standard_answer').value; let i=index">
                                        {{answer}}
                                        <button class="btn btn-sm btn-danger px-1 py-0" type="button"
                                            (click)="removeAnswerForFill(i)"><i class="fas fa-ban"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>本题详解（选填）</label>
                                <textarea name="explaination" class="form-control"
                                    formControlName="explanation"></textarea>
                            </div>
                            <div class="form-group text-right mt-4">
                                <div class="alert text-warning font-weight-bolder" role="alert">
                                    题目的数据涉及到考试设计，一旦提交无法修改或删除。请注意在提交前检查题目的内容。
                                </div>
                                <span class="mr-3 lead" *ngIf="isSubmitingFill">
                                    <i class="fas fa-cog fa-spin mr-2"></i>处理中 ...
                                </span>
                                <button class="btn btn-secondary" type="reset">重置</button>
                                <button class="btn btn-primary ml-3" type="submit" [disabled]="!fillForm.valid">完成 并
                                    提交</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="text-center display-4" *ngIf="savedFills.length==0">
                            <i class="fas fa-cog fa-spin"></i> 加载数据中 ...
                        </div>
                        <div *ngIf="savedFills.length!=0" class="data-area bg-light border border-dark p-2">
                            <div *ngFor="let group of savedFills" class="mb-3">
                                <p class="lead font-weight-bold mb-1">
                                    <i class="fas fa-coffee mr-2"></i>
                                    {{group['course_name']}}
                                    <span class="ml-1 text-secondary">({{group['list'].length}})</span>
                                </p>
                                <div class="card bg-dark text-white mb-1" *ngFor="let item of group['list']">
                                    <div class="card-header py-1 bg-primary">
                                        ID: {{item['id']}}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">{{item['question']}}</p>
                                        <p class="card-text">
                                            <span *ngFor="let sa of item['standard_answer']; let i=index"
                                                class="mr-4 font-weight-bold text-danger"><span
                                                    class="text-secondary">{{i+1}}.</span>
                                                {{sa}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========================================= -->
            <div class="col-12 mt-5" id="judges">
                <p class="question-title">判 断 题<small class="ml-3 text-secondary">共 {{totalJudges}} 道题</small></p>
                <div class="row">
                    <div class="col-5">
                        <form class="question-bank-form" [formGroup]="judgeForm" (ngSubmit)="onJudgeSubmit()">
                            <div class="form-group">
                                <label>课程</label>
                                <select name="course_id" class="form-control" formControlName="course_id">
                                    <option value="" disabled selected></option>
                                    <option [value]="item.id" *ngFor="let item of courses">{{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>题目</label>
                                <textarea placeholder="XXXXXXXXXX ?" class="form-control"
                                    formControlName="question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>标准答案</label>
                                <div>
                                    <span class="form-check form-check-inline mr-5 lead text-primary font-weight-bold">
                                        <input class="form-check-input radioFour" type="radio" name="standard-answer"
                                            (change)="onStandardAnswerChanged(true)">正确
                                        / 是 / True
                                    </span>
                                    <span class="form-check form-check-inline lead font-weight-bold text-primary">
                                        <input class="form-check-input radioFour" type="radio" name="standard-answer"
                                            (change)="onStandardAnswerChanged(false)">错误
                                        / 否 / False
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>本题详解（选填）</label>
                                <textarea name="explaination" class="form-control"
                                    formControlName="explanation"></textarea>
                            </div>
                            <div class="form-group text-right mt-4">
                                <div class="alert text-warning font-weight-bolder" role="alert">
                                    题目的数据涉及到考试设计，一旦提交无法修改或删除。请注意在提交前检查题目的内容。
                                </div>
                                <span class="mr-3 lead" *ngIf="isSubmitingJudge">
                                    <i class="fas fa-cog fa-spin mr-2"></i>处理中 ...
                                </span>
                                <button class="btn btn-secondary" type="reset">重置</button>
                                <button class="btn btn-primary ml-3" type="submit" [disabled]="!judgeForm.valid">完成 并
                                    提交</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="text-center display-4" *ngIf="savedJudges.length==0">
                            <i class="fas fa-cog fa-spin"></i> 加载数据中 ...
                        </div>
                        <div *ngIf="savedJudges.length!=0" class="data-area bg-light border border-dark p-2">
                            <div *ngFor="let group of savedJudges" class="mb-3">
                                <p class="lead font-weight-bold mb-1">
                                    <i class="fas fa-coffee mr-2"></i>
                                    {{group['course_name']}}
                                    <span class="ml-1 text-secondary">({{group['list'].length}})</span>
                                </p>
                                <div class="card bg-dark text-white mb-1" *ngFor="let item of group['list']">
                                    <div class="card-header py-1 bg-primary">
                                        ID: {{item['id']}}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">{{item['question']}}</p>
                                        <p class="card-text font-weight-bold text-danger">{{item['standard_answer']}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========================================= -->
            <div class="col-12 mt-5" id="short_answers">
                <p class="question-title">简 答 题<small class="ml-3 text-secondary">共 {{totalShortAnswers}} 道题</small></p>
                <div class="row">
                    <div class="col-5">
                        <form class="question-bank-form" [formGroup]="shortAnswerForm"
                            (ngSubmit)="onShortAnswerSubmit()">
                            <div class="form-group">
                                <label>课程</label>
                                <select name="course_id" class="form-control" formControlName="course_id">
                                    <option value="" disabled selected></option>
                                    <option [value]="item.id" *ngFor="let item of courses">{{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>题目</label>
                                <textarea placeholder="XXXXXXXXXX ?" class="form-control"
                                    formControlName="question"></textarea>
                            </div>
                            <div class="form-group">
                                <label>参考答案</label>
                                <textarea name="standard_answer" class="form-control"
                                    formControlName="standard_answer"></textarea>
                            </div>
                            <div class="form-group">
                                <label>本题详解（选填）</label>
                                <textarea name="explaination" class="form-control"
                                    formControlName="explanation"></textarea>
                            </div>
                            <div class="form-group text-right mt-4">
                                <div class="alert text-warning font-weight-bolder" role="alert">
                                    题目的数据涉及到考试设计，一旦提交无法修改或删除。请注意在提交前检查题目的内容。
                                </div>
                                <span class="mr-3 lead" *ngIf="isSubmitingShortAnswer">
                                    <i class="fas fa-cog fa-spin mr-2"></i>处理中 ...
                                </span>
                                <button class="btn btn-secondary" type="reset">重置</button>
                                <button class="btn btn-primary ml-3" type="submit"
                                    [disabled]="!shortAnswerForm.valid">完成 并 提交</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <div class="text-center display-4" *ngIf="savedShortAnswers.length==0">
                            <i class="fas fa-cog fa-spin"></i> 加载数据中 ...
                        </div>
                        <div *ngIf="savedShortAnswers.length!=0" class="data-area bg-light border border-dark p-2">
                            <div *ngFor="let group of savedShortAnswers" class="mb-3">
                                <p class="lead font-weight-bold mb-1">
                                    <i class="fas fa-coffee mr-2"></i>
                                    {{group['course_name']}}
                                    <span class="ml-1 text-secondary">({{group['list'].length}})</span>
                                </p>
                                <div class="card bg-dark text-white mb-1" *ngFor="let item of group['list']">
                                    <div class="card-header py-1 bg-primary">
                                        ID: {{item['id']}}
                                    </div>
                                    <div class="card-body">
                                        <p class="card-title">{{item['question']}}</p>
                                        <p class="card-text font-weight-bold text-danger">{{item['standard_answer']}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12" id="codings">
                Codings
            </div>
        </div>
    </div>
</div>